Design and implement a Complete University Management System in Python using SQLite and functions (def) with the following requirements:
1. Database (SQLite)
Create the following tables:
Departments (dept_id, dept_name, hod_name)
Students (student_id, name, class, dept_id)
Subjects (subject_id, subject_name, dept_id)
Marks (mark_id, student_id, subject_id, marks)
Insert:
At least 2 departments, 5 students, 4 subjects, and marks for each student in all subjects.
2. Python Functions
Implement the following:
def add_student(name, class, dept_id)
def add_subject(subject_name, dept_id)
def add_marks(student_id, subject_id, marks)
def show_students() → Display students with department name (JOIN)
def show_subjects() → Display all subjects with their department
def show_marks() → Display each student’s marks with subject names (JOIN)
def student_report(student_id) → Show subject-wise marks, total, average, grade, pass/fail
def toppers() → Show topper in each subject + overall topper
def department_summary() → Show average marks department-wise (JOIN + GROUP BY)
def unique_subjects() → Return unique subjects as a set

In [1]:
import sqlite3

In [ ]:
def init_db():
    con=sqlite3.connect("Uni.db")
    cursor=con.cursor()

    cursor.execute("""
    CREATE TABLE Departments(
    dept_id INTEGER PRIMARY KEY AUTOINCREMENT,
    dept_name TEXT,
    hod_name TEXT)
    """)

    cursor.execute("""
    CREATE TABLE Students(
    student_id INTEGER PRIMARY KEY,
    name TEXT,
    class INTEGER,
    dept_id INTEGER,
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id))
    """)

    cursor.execute("""
    CREATE TABLE Subjects(
    subject_id INTEGER PRIMARY KEY,
    subject_name TEXT,
    dept_id INTEGER,
    FOREIGN KEY (dept_id) REFERENCES Departments(dept_id))
    """)

    cursor.execute("""
    CREATE TABLE Marks(
    mark_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER,
    subject_id INTEGER,
    marks INTEGER,
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (subject_id) REFERENCES Subjects(subject_id))
    """)

In [4]:
Departments=[('Business', 'Luke'),
             ('Science', 'Alex')]

cursor.executemany("INSERT INTO Departments (dept_name, hod_name) VALUES (?,?)", Departments)

Students=[(1001, 'Joe', 2, 1),
          (1002, 'Lily', 1, 1),
          (1003, 'Manny', 3, 1),
          (1004, 'Dylan', 2, 2,),
          (1005, 'Ruben', 3, 2)]

cursor.executemany("INSERT INTO Students (student_id, name, class, dept_id) VALUES (?,?,?,?)", Students)
    
Subjects=[(101, 'Math', 1),
          (102, 'Physics', 2),
          (103, 'Chemistry', 2),
          (104, 'English', 1)]

cursor.executemany("INSERT INTO Subjects (subject_id, subject_name, dept_id) VALUES (?,?,?)", Subjects)
    
Marks=[(1001, 101, 83), (1001, 102, 87), (1001, 103, 95), (1001, 104, 86),
       (1002, 101, 90), (1002, 102, 84), (1002, 103, 89), (1002, 104, 92),
       (1003, 101, 74), (1003, 102, 80), (1003, 103, 79), (1003, 104, 85),
       (1004, 101, 81), (1004, 102, 77), (1004, 103, 88), (1004, 104, 85),
       (1005, 101, 76), (1005, 102, 86), (1005, 103, 83), (1005, 104, 73)]
       
cursor.executemany("INSERT INTO Marks (student_id, subject_id, marks) VALUES (?,?,?)", Marks)

NameError: name 'cursor' is not defined